# Ignore Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment folder
venv/

# Ignore environment variables and config files
.env
*.env
*.venv
venv.bak

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system-specific files
.DS_Store       # macOS
Thumbs.db       # Windows

# Ignore log files
*.log

# Ignore distribution and packaging files
*.egg-info/
dist/
build/
*.tar.gz
*.whl

# Ignore coverage files (for pytest)
.coverage
*.coveragerc

# Ignore pytest and test result files
nosetests.xml
*.tox
*.nox
*.coverage
*.hypothesis/

# Ignore database files (e.g. SQLite)
*.db

# Ignore specific config files
config.yml
